In [50]:
# Question 1
import numpy as np
import pandas as pd
import re

In [27]:
a=pd.read_csv('https://raw.githubusercontent.com/Shreyas3108/Titanic-EDA-and-Survival-prediction/master/train.csv ')
b=pd.read_csv('https://raw.githubusercontent.com/Shreyas3108/Titanic-EDA-and-Survival-prediction/master/test.csv')

In [30]:
c=pd.concat([a,b])
c.head()

c:\users\nikhil sharma\appdata\local\programs\python\python36-32\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

,Age,Cabin,Embarked,Fare,Name,Parch,PassengerId,Pclass,Sex,SibSp,Survived,Ticket
0,22.0,NaN,S,7.2500,"Braund, Mr. Owen Harris",0,1,3,male,1,0.0,A/5 21171
1,38.0,C85,C,71.2833,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,2,1,female,1,1.0,PC 17599
2,26.0,NaN,S,7.9250,"Heikkinen, Miss. Laina",0,3,3,female,0,1.0,STON/O2. 3101282
3,35.0,C123,S,53.1000,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,4,1,female,1,1.0,113803
4,35.0,NaN,S,8.0500,"Allen, Mr. William Henry",0,5,3,male,0,0.0,373450

In [35]:
# Question 2
c=c.dropna(subset=['Survived'])
c.head()

,Age,Cabin,Embarked,Fare,Name,Parch,PassengerId,Pclass,Sex,SibSp,Survived,Ticket
0,22.0,NaN,S,7.2500,"Braund, Mr. Owen Harris",0,1,3,male,1,0.0,A/5 21171
1,38.0,C85,C,71.2833,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,2,1,female,1,1.0,PC 17599
2,26.0,NaN,S,7.9250,"Heikkinen, Miss. Laina",0,3,3,female,0,1.0,STON/O2. 3101282
3,35.0,C123,S,53.1000,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,4,1,female,1,1.0,113803
4,35.0,NaN,S,8.0500,"Allen, Mr. William Henry",0,5,3,male,0,0.0,373450

In [36]:
c.info

<bound method DataFrame.info of       Age        Cabin Embarked      Fare  \
0    22.0          NaN        S    7.2500
1    38.0          C85        C   71.2833
2    26.0          NaN        S    7.9250
3    35.0         C123        S   53.1000
4    35.0          NaN        S    8.0500
5     NaN          NaN        Q    8.4583
6    54.0          E46        S   51.8625
7     2.0          NaN        S   21.0750
8    27.0          NaN        S   11.1333
9    14.0          NaN        C   30.0708
10    4.0           G6        S   16.7000
11   58.0         C103        S   26.5500
12   20.0          NaN        S    8.0500
13   39.0          NaN        S   31.2750
14   14.0          NaN        S    7.8542
15   55.0          NaN        S   16.0000
16    2.0          NaN        Q   29.1250
17    NaN          NaN        S   13.0000
18   31.0          NaN        S   18.0000
19    NaN          NaN        C    7.2250
20   35.0          NaN        S   26.0000
21   34.0          D56        S   13.0000
22   15.0          NaN        Q    8.0292
23   28.0           A6        S   35.5000
24    8.0          NaN        S   21.0750
25   38.0          NaN        S   31.3875
26    NaN          NaN        C    7.2250
27   19.0  C23 C25 C27        S  263.0000
28    NaN          NaN        Q    7.8792
29    NaN          NaN        S    7.8958
..    ...          ...      ...       ...
861  21.0          NaN        S   11.5000
862  48.0          D17        S   25.9292
863   NaN          NaN        S   69.5500
864  24.0          NaN        S   13.0000
865  42.0          NaN        S   13.0000
866  27.0          NaN        C   13.8583
867  31.0          A24        S   50.4958
868   NaN          NaN        S    9.5000
869   4.0          NaN        S   11.1333
870  26.0          NaN        S    7.8958
871  47.0          D35        S   52.5542
872  33.0  B51 B53 B55        S    5.0000
873  47.0          NaN        S    9.0000
874  28.0          NaN        C   24.0000
875  15.0          NaN        C    7.2250
876  20.0          NaN        S    9.8458
877  19.0          NaN        S    7.8958
878   NaN          NaN        S    7.8958
879  56.0          C50        C   83.1583
880  25.0          NaN        S   26.0000
881  33.0          NaN        S    7.8958
882  22.0          NaN        S   10.5167
883  28.0          NaN        S   10.5000
884  25.0          NaN        S    7.0500
885  39.0          NaN        Q   29.1250
886  27.0          NaN        S   13.0000
887  19.0          B42        S   30.0000
888   NaN          NaN        S   23.4500
889  26.0         C148        C   30.0000
890  32.0          NaN        Q    7.7500

                                                  Name  Parch  PassengerId  \
0                              Braund, Mr. Owen Harris      0            1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...      0            2
2                               Heikkinen, Miss. Laina      0            3
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)      0            4
4                             Allen, Mr. William Henry      0            5
5                                     Moran, Mr. James      0            6
6                              McCarthy, Mr. Timothy J      0            7
7                       Palsson, Master. Gosta Leonard      1            8
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)      2            9
9                  Nasser, Mrs. Nicholas (Adele Achem)      0           10
10                     Sandstrom, Miss. Marguerite Rut      1           11
11                            Bonnell, Miss. Elizabeth      0           12
12                      Saundercock, Mr. William Henry      0           13
13                         Andersson, Mr. Anders Johan      5           14
14                Vestrom, Miss. Hulda Amanda Adolfina      0           15
15                    Hewlett, Mrs. (Mary D Kingcome)       0           16
16                                Rice, Master. Eugene      1           17
17                        Williams, Mr. Charles Eugene      0           18
18   Vander Planke, Mrs. Julius (Emelia Maria Vande...      0           19
19                             Masselmani, Mrs. Fatima      0           20
20                                Fynney, Mr. Joseph J      0           21
21                               Beesley, Mr. Lawrence      0           22
22                         McGowan, Miss. Anna "Annie"      0           23
23                        Sloper, Mr. William Thompson      0           24
24                       Palsson, Miss. Torborg Danira      1           25
25   Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...      5           26
26                             Emir, Mr. Farred Chehab      0           27
27                      Fortune, Mr. Charles Alexander      2           28
28                       O'Dwyer, Miss. Ellen "Nellie"      0           29
29                                 Todoroff, Mr. Lalio      0           30
..                                                 ...    ...          ...
861                        Giles, Mr. Frederick Edward      0          862
862  Swift, Mrs. Frederick Joel (Margaret Welles Ba...      0          863
863                  Sage, Miss. Dorothy Edith "Dolly"      2          864
864                             Gill, Mr. John William      0          865
865                           Bystrom, Mrs. (Karolina)      0          866
866                       Duran y More, Miss. Asuncion      0          867
867               Roebling, Mr. Washington Augustus II      0          868
868                        van Melkebeke, Mr. Philemon      0          869
869                    Johnson, Master. Harold Theodor      1          870
870                                  Balkic, Mr. Cerin      0          871
871   Beckwith, Mrs. Richard Leonard (Sallie Monypeny)      1          872
872                           Carlsson, Mr. Frans Olof      0          873
873                        Vander Cruyssen, Mr. Victor      0          874
874              Abelson, Mrs. Samuel (Hannah Wizosky)      0          875
875                   Najib, Miss. Adele Kiamie "Jane"      0          876
876                      Gustafsson, Mr. Alfred Ossian      0          877
877                               Petroff, Mr. Nedelio      0          878
878                                 Laleff, Mr. Kristo      0          879
879      Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)      1          880
880       Shelley, Mrs. William (Imanita Parrish Hall)      1          881
881                                 Markun, Mr. Johann      0          882
882                       Dahlberg, Miss. Gerda Ulrika      0          883
883                      Banfield, Mr. Frederick James      0          884
884                             Sutehall, Mr. Henry Jr      0          885
885               Rice, Mrs. William (Margaret Norton)      5          886
886                              Montvila, Rev. Juozas      0          887
887                       Graham, Miss. Margaret Edith      0          888
888           Johnston, Miss. Catherine Helen "Carrie"      2          889
889                              Behr, Mr. Karl Howell      0          890
890                                Dooley, Mr. Patrick      0          891

     Pclass     Sex  SibSp  Survived            Ticket
0         3    male      1       0.0         A/5 21171
1         1  female      1       1.0          PC 17599
2         3  female      0       1.0  STON/O2. 3101282
3         1  female      1       1.0            113803
4         3    male      0       0.0            373450
5         3    male      0       0.0            330877
6         1    male      0       0.0             17463
7         3    male      3       0.0            349909
8         3  female      0       1.0            347742
9         2  female      1       1.0            237736
10        3  female      1       1.0           PP 9549
11        1  female      0       1.0            113783
12        3    male      0       0.0         A/5. 2151
13        3    male      1       0.0            347082
14        3  female      0       0.0            350406
15        2  female      0       1.0            248706
16        3    male      4       0.0            382652
17        2    male      0       1.0            244373
18        3  female      1       0.0            345763
19        3  female      0       1.0              2649
20        2    male      0       0.0            239865
21        2    male      0       1.0            248698
22        3  female      0       1.0            330923
23        1    male      0       1.0            113788
24        3  female      3       0.0            349909
25        3  female      1       1.0            347077
26        3    male      0       0.0              2631
27        1    male      3       0.0             19950
28        3  female      0       1.0            330959
29        3    male      0       0.0            349216
..      ...     ...    ...       ...               ...
861       2    male      1       0.0             28134
862       1  female      0       1.0             17466
863       3  female      8       0.0          CA. 2343
864       2    male      0       0.0            233866
865       2  female      0       1.0            236852
866       2  female      1       1.0     SC/PARIS 2149
867       1    male      0       0.0          PC 17590
868       3    male      0       0.0            345777
869       3    male      1       1.0            347742
870       3    male      0       0.0            349248
871       1  female      1       1.0             11751
872       1    male      0       0.0               695
873       3    male      0       0.0            345765
874       2  female      1       1.0         P/PP 3381
875       3  female      0       1.0              2667
876       3    male      0       0.0              7534
877       3    male      0       0.0            349212
878       3    male      0       0.0            349217
879       1  female      0       1.0             11767
880       2  female      0       1.0            230433
881       3    male      0       0.0            349257
882       3  female      0       0.0              7552
883       2    male      0       0.0  C.A./SOTON 34068
884       3    male      0       0.0   SOTON/OQ 392076
885       3  female      0       0.0            382652
886       2    male      0       0.0            211536
887       1  female      0       1.0            112053
888       3  female      1       0.0        W./C. 6607
889       1    male      0       1.0            111369
890       3    male      0       0.0            370376

[891 rows x 12 columns]>

In [39]:
c['Has_Cabin']=c['Cabin'].notnull()

c:\users\nikhil sharma\appdata\local\programs\python\python36-32\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [40]:
c.info

<bound method DataFrame.info of       Age        Cabin Embarked      Fare  \
0    22.0          NaN        S    7.2500
1    38.0          C85        C   71.2833
2    26.0          NaN        S    7.9250
3    35.0         C123        S   53.1000
4    35.0          NaN        S    8.0500
5     NaN          NaN        Q    8.4583
6    54.0          E46        S   51.8625
7     2.0          NaN        S   21.0750
8    27.0          NaN        S   11.1333
9    14.0          NaN        C   30.0708
10    4.0           G6        S   16.7000
11   58.0         C103        S   26.5500
12   20.0          NaN        S    8.0500
13   39.0          NaN        S   31.2750
14   14.0          NaN        S    7.8542
15   55.0          NaN        S   16.0000
16    2.0          NaN        Q   29.1250
17    NaN          NaN        S   13.0000
18   31.0          NaN        S   18.0000
19    NaN          NaN        C    7.2250
20   35.0          NaN        S   26.0000
21   34.0          D56        S   13.0000
22   15.0          NaN        Q    8.0292
23   28.0           A6        S   35.5000
24    8.0          NaN        S   21.0750
25   38.0          NaN        S   31.3875
26    NaN          NaN        C    7.2250
27   19.0  C23 C25 C27        S  263.0000
28    NaN          NaN        Q    7.8792
29    NaN          NaN        S    7.8958
..    ...          ...      ...       ...
861  21.0          NaN        S   11.5000
862  48.0          D17        S   25.9292
863   NaN          NaN        S   69.5500
864  24.0          NaN        S   13.0000
865  42.0          NaN        S   13.0000
866  27.0          NaN        C   13.8583
867  31.0          A24        S   50.4958
868   NaN          NaN        S    9.5000
869   4.0          NaN        S   11.1333
870  26.0          NaN        S    7.8958
871  47.0          D35        S   52.5542
872  33.0  B51 B53 B55        S    5.0000
873  47.0          NaN        S    9.0000
874  28.0          NaN        C   24.0000
875  15.0          NaN        C    7.2250
876  20.0          NaN        S    9.8458
877  19.0          NaN        S    7.8958
878   NaN          NaN        S    7.8958
879  56.0          C50        C   83.1583
880  25.0          NaN        S   26.0000
881  33.0          NaN        S    7.8958
882  22.0          NaN        S   10.5167
883  28.0          NaN        S   10.5000
884  25.0          NaN        S    7.0500
885  39.0          NaN        Q   29.1250
886  27.0          NaN        S   13.0000
887  19.0          B42        S   30.0000
888   NaN          NaN        S   23.4500
889  26.0         C148        C   30.0000
890  32.0          NaN        Q    7.7500

                                                  Name  Parch  PassengerId  \
0                              Braund, Mr. Owen Harris      0            1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...      0            2
2                               Heikkinen, Miss. Laina      0            3
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)      0            4
4                             Allen, Mr. William Henry      0            5
5                                     Moran, Mr. James      0            6
6                              McCarthy, Mr. Timothy J      0            7
7                       Palsson, Master. Gosta Leonard      1            8
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)      2            9
9                  Nasser, Mrs. Nicholas (Adele Achem)      0           10
10                     Sandstrom, Miss. Marguerite Rut      1           11
11                            Bonnell, Miss. Elizabeth      0           12
12                      Saundercock, Mr. William Henry      0           13
13                         Andersson, Mr. Anders Johan      5           14
14                Vestrom, Miss. Hulda Amanda Adolfina      0           15
15                    Hewlett, Mrs. (Mary D Kingcome)       0           16
16                                Rice, Master. Eugene      1           17
17                        Williams, Mr. Charles Eugene      0           18
18   Vander Planke, Mrs. Julius (Emelia Maria Vande...      0           19
19                             Masselmani, Mrs. Fatima      0           20
20                                Fynney, Mr. Joseph J      0           21
21                               Beesley, Mr. Lawrence      0           22
22                         McGowan, Miss. Anna "Annie"      0           23
23                        Sloper, Mr. William Thompson      0           24
24                       Palsson, Miss. Torborg Danira      1           25
25   Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...      5           26
26                             Emir, Mr. Farred Chehab      0           27
27                      Fortune, Mr. Charles Alexander      2           28
28                       O'Dwyer, Miss. Ellen "Nellie"      0           29
29                                 Todoroff, Mr. Lalio      0           30
..                                                 ...    ...          ...
861                        Giles, Mr. Frederick Edward      0          862
862  Swift, Mrs. Frederick Joel (Margaret Welles Ba...      0          863
863                  Sage, Miss. Dorothy Edith "Dolly"      2          864
864                             Gill, Mr. John William      0          865
865                           Bystrom, Mrs. (Karolina)      0          866
866                       Duran y More, Miss. Asuncion      0          867
867               Roebling, Mr. Washington Augustus II      0          868
868                        van Melkebeke, Mr. Philemon      0          869
869                    Johnson, Master. Harold Theodor      1          870
870                                  Balkic, Mr. Cerin      0          871
871   Beckwith, Mrs. Richard Leonard (Sallie Monypeny)      1          872
872                           Carlsson, Mr. Frans Olof      0          873
873                        Vander Cruyssen, Mr. Victor      0          874
874              Abelson, Mrs. Samuel (Hannah Wizosky)      0          875
875                   Najib, Miss. Adele Kiamie "Jane"      0          876
876                      Gustafsson, Mr. Alfred Ossian      0          877
877                               Petroff, Mr. Nedelio      0          878
878                                 Laleff, Mr. Kristo      0          879
879      Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)      1          880
880       Shelley, Mrs. William (Imanita Parrish Hall)      1          881
881                                 Markun, Mr. Johann      0          882
882                       Dahlberg, Miss. Gerda Ulrika      0          883
883                      Banfield, Mr. Frederick James      0          884
884                             Sutehall, Mr. Henry Jr      0          885
885               Rice, Mrs. William (Margaret Norton)      5          886
886                              Montvila, Rev. Juozas      0          887
887                       Graham, Miss. Margaret Edith      0          888
888           Johnston, Miss. Catherine Helen "Carrie"      2          889
889                              Behr, Mr. Karl Howell      0          890
890                                Dooley, Mr. Patrick      0          891

     Pclass     Sex  SibSp  Survived            Ticket  Has_Cabin
0         3    male      1       0.0         A/5 21171      False
1         1  female      1       1.0          PC 17599       True
2         3  female      0       1.0  STON/O2. 3101282      False
3         1  female      1       1.0            113803       True
4         3    male      0       0.0            373450      False
5         3    male      0       0.0            330877      False
6         1    male      0       0.0             17463       True
7         3    male      3       0.0            349909      False
8         3  female      0       1.0            347742      False
9         2  female      1       1.0            237736      False
10        3  female      1       1.0           PP 9549       True
11        1  female      0       1.0            113783       True
12        3    male      0       0.0         A/5. 2151      False
13        3    male      1       0.0            347082      False
14        3  female      0       0.0            350406      False
15        2  female      0       1.0            248706      False
16        3    male      4       0.0            382652      False
17        2    male      0       1.0            244373      False
18        3  female      1       0.0            345763      False
19        3  female      0       1.0              2649      False
20        2    male      0       0.0            239865      False
21        2    male      0       1.0            248698       True
22        3  female      0       1.0            330923      False
23        1    male      0       1.0            113788       True
24        3  female      3       0.0            349909      False
25        3  female      1       1.0            347077      False
26        3    male      0       0.0              2631      False
27        1    male      3       0.0             19950       True
28        3  female      0       1.0            330959      False
29        3    male      0       0.0            349216      False
..      ...     ...    ...       ...               ...        ...
861       2    male      1       0.0             28134      False
862       1  female      0       1.0             17466       True
863       3  female      8       0.0          CA. 2343      False
864       2    male      0       0.0            233866      False
865       2  female      0       1.0            236852      False
866       2  female      1       1.0     SC/PARIS 2149      False
867       1    male      0       0.0          PC 17590       True
868       3    male      0       0.0            345777      False
869       3    male      1       1.0            347742      False
870       3    male      0       0.0            349248      False
871       1  female      1       1.0             11751       True
872       1    male      0       0.0               695       True
873       3    male      0       0.0            345765      False
874       2  female      1       1.0         P/PP 3381      False
875       3  female      0       1.0              2667      False
876       3    male      0       0.0              7534      False
877       3    male      0       0.0            349212      False
878       3    male      0       0.0            349217      False
879       1  female      0       1.0             11767       True
880       2  female      0       1.0            230433      False
881       3    male      0       0.0            349257      False
882       3  female      0       0.0              7552      False
883       2    male      0       0.0  C.A./SOTON 34068      False
884       3    male      0       0.0   SOTON/OQ 392076      False
885       3  female      0       0.0            382652      False
886       2    male      0       0.0            211536      False
887       1  female      0       1.0            112053       True
888       3  female      1       0.0        W./C. 6607      False
889       1    male      0       1.0            111369       True
890       3    male      0       0.0            370376      False

[891 rows x 13 columns]>

In [51]:
def split_it(year):
    return str(re.findall("(Mr|Mrs|Master|Miss)",year))
c["Title"]=c['Name'].apply(split_it)

c:\users\nikhil sharma\appdata\local\programs\python\python36-32\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [53]:
c['Title'].value_counts()

['Mr']            642
['Miss']          180
['Master']         40
[]                 24
['Mr', 'Mr']        3
['Miss', 'Mr']      2
Name: Title, dtype: int64

In [54]:
c=c.fillna(c.mean())

In [55]:
c['Categorical_fare']=pd.cut(c['Fare'], 3,labels=[ "Economy" ,"Premium-Economy","Business"])

In [57]:
c['Categorical_age']=pd.cut(c['Age'], [0,13,19,100], labels=["Child", "Teen", "Adult"])

In [59]:
c=c.drop(['Cabin','Name','PassengerId','Ticket','Age','Fare','SibSp','Parch'],axis=1)

In [61]:
c=pd.get_dummies(c)

In [62]:
x=c.drop(["Survived"],axis=1)
y=c["Survived"]

In [67]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)

In [69]:
from sklearn.linear_model import LogisticRegression
classifier=LogisticRegression()
classifier.fit(X_train,y_train)

c:\users\nikhil sharma\appdata\local\programs\python\python36-32\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [70]:
y_pred=classifier.predict(X_test)

In [71]:
score=classifier.score(X_test,y_test)
print(score)

0.7932960893854749